
<h1 style="text-align: center;">Este es el proyecto realizado con Angular material</h1>

<h2 style="text-align: center;">  Bienvenidos a App Usuarios. Haz click en inicio 👇 para empezar</h2>
<div class="body">
  <button (click)="ingresar()" style="
  background-color: #007BFF;
  color: #FFFFFF;
  cursor: pointer;
  width: 15%;
  height: 60px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  justify-content: center;
  display: flex;
  align-items: center;">
  Inicio
</button>

</div>


